body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* Main */

.main{
    width: 100%;
    background: url("../archiland/img/main.jpeg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.main_text {
    padding-top:25vh;
    width:100%;
    max-width: 452px;
    

}

.title {
    font-size: 60px;
    font-weight: 700;
    color: #CA4E22;
    border-bottom: 3px solid #CA4E22;
    border-top: 3px solid #CA4E22 ;
    width: 340px;   

}

.subtitle {
    padding-top: 7vh;
    line-height: 1.7;
    font-weight: 400;
    font-size: 30px;
  
}

/* Header */

.header{
    width: 100%;
    position: absolute;
    padding-top: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navigation{
    text-align: center;
    padding-left: 30%;
}

.link {
    margin: 0 40px ;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.link:hover {
    color: #CA4E22;
    text-decoration: 3px underline ;
    transition: .2s linear;
}

/* Blocks */

.blocks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}


.creator{
    background-color: #D2D7D3;
    width: 100%;
    height: 45rem;
}

.creator_block{
    padding-top: 165px;
    display: flex;
    justify-content: space-between;
}

.creator_img{
    background: url("../archiland/img/creator.jpg");
    width: 100%;
    max-width: 380px;
    height: 380px;
    border: #CA4E22 3px solid;
    border-radius: 15px;
}

.creator_info{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.creator_title{
    font-size: 40px;
    font-weight: 600;
    color: #222222;
    border-bottom: 2px solid #CA4E22;
    border-top: 2px solid #CA4E22 ;
    max-width: 267px; 
    line-height: 49px;   
}

.creator_subtitle{
    padding-top: 43px;
    font-size: 30px;
    line-height: 36px;
    max-width: 990px;
}

.site {
    background-color: #7B90A1;
    width: 100%;
    height: 45rem;
}

.site_block{
    padding-top: 165px;
    display: flex;
    justify-content: space-between; 
}

.site_img{
    background: url("../archiland/img/site.jpg");
    width: 100%;
    max-width: 380px;
    height: 380px;
    border: #CA4E22 3px solid;
    border-radius: 15px;
}

.site_info{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.site_title{
    font-size: 40px;
    font-weight: 600;
    color: #222222;
    border-bottom: 2px solid #CA4E22;
    border-top: 2px solid #CA4E22 ;
    max-width: 143px; 
    line-height: 49px;   
}

.site_subtitle{
    padding-top: 43px;
    font-size: 30px;
    line-height: 36px;
    max-width: 990px;
}


.cat-secure{
    background-color: #D2D7D3;
    width: 100%;
    height: 45rem; 
}

.cat-secure_block{
    padding-top: 165px;
    display: flex;
    justify-content: space-between;
}

.cat-secure_img{
    background: url("../archiland/img/cat-secure.jpg");
    width: 100%;
    max-width: 380px;
    height: 380px;
    border: #CA4E22 3px solid;
    border-radius: 15px;
}

.cat-secure_info{
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cat-secure_title{
    font-size: 40px;
    font-weight: 600;
    color: #222222;
    border-bottom: 2px solid #CA4E22;
    border-top: 2px solid #CA4E22 ;
    max-width: 290px; 
    line-height: 49px;   
}

.cat-secure_subtitle{
    padding-top: 43px;
    font-size: 30px;
    line-height: 36px;
    max-width: 336px;
}

.cat-secure_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form{
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
    color: #000;
    opacity:50%;
    height: 65px;
    width: 270px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    background-color: #B9624E ;
    padding-top: 13px;
    border: 3px solid #CA4E22;
}

/* Footer */
 
.footer {
    width: 100%;
    position: absolute;
   
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #B9624E;
    height: 10rem;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer_logo{
    font-size: 60px;
    font-weight: 700;
    color: #222222;
    border-bottom: 3px solid #222222;
    border-top: 3px solid #222222 ;
    width: 340px;    
}

.policy{
    padding-top: 20px;
}

.consent{
    padding-top: 20px;   
}